body{
    margin:0px;
    color:black;
    font-family: 'Patua One', cursive;*/
    font-family: 'Secular One', sans-serif;
    font-family: 'Signika', sans-serif;
    line-height: 1.5;

}

.wrapper{
    /* width: 760px; */
    display: flex;
    justify-content: center;
    
    
}


.personal_data{
    width: 230px;
    background: #4682B4;
    padding-left: 25px; 
    padding-top:35px; 
    color: #fff;
    border: 6px #4682B4 solid;

}

.photo{
    width: 170px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    
}

h3{
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom:2px solid #fff ;
}

.name, .date_of_birth, .citizenship, .mobile_phone, .email{
    margin-top: 20px;
}


.working_qualities{
    padding-left: 25px;
    width: 550px;
    border: 6px #4682B4 solid;
   
}
h2{
    padding-bottom: 10px;
    border-bottom:2px solid black ;

}

.education_list{
    list-style: none;
}


td{
    
    vertical-align: top;
    padding-right: 30px;
    padding-bottom: 20px;
}
.data{
    width: 60px;
}


@media screen and (max-width:1200px) {
    
 } 
 
 @media screen and (max-width:992px) {
         
 } 
 @media screen and (max-width:768px) {
       
 } 

 @media screen and (max-width:576px) {
    .wrapper{
      display: flex;
      flex-direction: column;
    }
    .personal_data{
        width: 100%;
    }
    .working_qualities{
        width: 100%; 
    }

    .photo{
        display: block;
        margin: 0 auto;
    }
     
     
 } 





















